# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
env/
.env
*.env
zammad_tg_bot/.env

venv/
.venv/
pip-log.txt
pip-delete-this-folder.txt

# Pipenv


# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Git
.git/
